body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: gray;
}
 
 h1 {
  color: red;
} 

header {
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  header > img {
  width: 6em;
  height: 6em;
  border-radius: 20px;
  border: 1px solid #fff;
  box-shadow: rgb(28, 32, 93 / 24%) 0px 2px 8px 0px;
}
 header > h1 {
  dispay: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 1em;
  background-color: #000a;
  color: #fff;
  padding: 0.3em 0.6em;
  border: 1px solid #fffa;
}
